div {
    border-width: 0px;
    border-color: red;
    border-style: solid;
}

body {
    font-family: 'Yuji Boku', serif;
}

.container {
    background-color: #EEEEEE;
    border-radius: 10px;
}

.logo {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    font-size: 75px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.human-score, .computer-score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

.btn-secondary {
    font-size: 40px;
}

.status-area {
    height: 20vh;
    margin: 2vh;
}

.user-selection {
    height: 15vh;
    margin: 2vh;
}

/*
.selection-image-space {
    height: 25vh;
}

.score-board {
    height: 10vh;
}




*/

.footer {
    font-family: Arial, Helvetica, sans-serif;
}

.footer a {
    text-decoration: none;
}